@media (min-width:600px) {
  .mb-0 {
    font-size: 5px;
  }
}

@media (min-width:800px) {
  .mb-0 {
    font-size: 8px;
  }
}

@media (min-width:1000px) {
  .mb-0 {
    font-size: 12px;
  }
}

@media (min-width:1200px) {
  .mb-0 {
    /* Never get larger than this */
    font-size: 16px;
  }
}